#footer
  .container.text-center
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
      |  · 
      a(href='https://github.com/mvonthron/ilovemtl') GitHub Project
    div
      | Inspired by 
      a(href='http://www.ilovesanantonio.org/') I love San Antonio
