extends layout

block content
  h1 I love Montréal because...
  #new-note
  form.form-horizontal(id='new-note-form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      .col-sm-3.control-label(for='noteText') Note
      .col-sm-7
        textarea.form-control(type='text', name='noteText', id='noteText', placeholder='Text', autofocus)
    .form-group
      label.col-sm-3.control-label(for='twitterHandle') @
      .col-sm-7
        input.form-control(type='text', name='twitterHandle', id='twitterHandle', placeholder='Twitter', autofocus)
    .form-group
      label.col-sm-3.control-label(for='twitterHandle') 
      .col-sm-3.checkbox
        input(type='checkbox', name='isVisitor', id='isVisitor', placeholder='visitor', autofocus)
        <span>I am a visitor</span>
      .col-sm-3.pull-right
        button.btn.btn-success(type='submit')
          i.fa.fa-check
              | Send

  ul.notes

